<%
    const linkPrefix = systemConfig.prefixAdmin + '/auth/';
%>

<header>
    <div class="logo-wrap">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-4 col-md-4 col-sm-12 logo-left no-padding">
                    <a href="#">
                        <img class="img-fluid" src="frontend/img/logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu" id="main-menu">
        <div class="row align-items-center justify-content-between">
            <nav id="nav-menu-container">
                <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                    <li class="menu-active"><a href="#">Home</a></li>
                    <li class="menu-has-children">
                        <a href="#" class="sf-with-ul">Category</a>
                        <ul style="display: none;">
                            <% itemsCategory.forEach((item) => { %>
                                <li><a href="<%= 'category/' + item.slug %>"><%= item.name %></a></li>
                            <% }) %>
                        </ul>
                    </li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <% if(typeof isLogIn != 'undefined' && isLogIn) { %>
                        <li><a href="<%= linkPrefix %>/logout">Log Out</a></li>
                    <% } else { %>
                        <li><a href="<%= linkPrefix %>/login">Log In</a></li>
                    <% } %>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
            <div class="navbar-right">
                <form class="Search">
                    <input type="text" class="form-control Search-box" name="Search-box" id="Search-box" placeholder="Search">
                    <label for="Search-box" class="Search-box-label">
                        <span class="lnr lnr-magnifier"></span>
                    </label>
                    <span class="Search-close">
                        <span class="lnr lnr-cross"></span>
                    </span>
                </form>
            </div>
        </div>
        <div id="mobile-body-overly"></div>
    </div>
</header>